<form method="post" action="/add">
    <input type="text" name="todo" placeholder="what's up?" class="search">
    <input type="submit" value="ADD" class="add">
</form>

<style>
    .search, .add{
        background-color: rgb(247, 214, 219);
        border: 1.5px solid rgb(242, 121, 141);
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }
</style>