<h1>ToDo App</h1>
<h3>My List For : <%= date %> </h3>

<div>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li><%= todo %></li>
        <% }) %>
        
    </ul>

    <%- include(addPath); %> 
</div>




