<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyToDo</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h1>ToDo App</h1>
<h3>My List For : <%= date %> </h3>

<div>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li id="task"><span><input type="checkbox" id="task-state" ></span> <%= todo %></li>
        <% }) %>
        
    </ul>

    <%- include(addPath); %> 
</div>
</body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

    html{
        background-color: rgb(247, 214, 219);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        text-align: center;
    }
    h1{
        color: rgb(79, 79, 79);
    }
    ul{
        list-style: none;
        text-align: left;
    } 
    
</style>


<script>
let task =  document.getElementById('task');
let taskState = document.getElementById('task-state');
//radio input event listener
   // task.forEach(task =>{
        taskState.addEventListener("change", e => {
            if(e.target.checked){
                task.style.textDecoration = "line-through"
                console.log("task done")
            }  
            else{
                task.style.textDecoration = "none"
                console.log("task not done")
            }
        });
 //   })
        
        
</script>






